body{
  background: rgb(227,218,201);
  /* background-image: url(img/coin.gif);
  background-size: 80%;
  background-position: 40% 20%;
  background-repeat: no-repeat;
  /* margin-left: 40%; */
} 

h1 {
  color :black;
  margin-left: 38%;
  font-size: 50px;
  font-family: 'Road Rage', cursive, sans-serif;

}


.container {
  border-radius: 10px;
 border: 2px solid black;
 width: 30%;
 margin-left: 30%;
 height: 400px;
 margin-top: 2%;
 box-shadow: 10px 5px 5px black;
}

.container h3, h2 {
  margin-top: 8%;
  margin-right: auto;
  font-size: 25px;
  border: 2px solid transparent;
  text-align: center;
}

.formInput input {
  margin-left: 37%;
}

.message {
  margin-left: 12%;
  font-size: 20px;
}

/* .container span {
  color: red;

} */

.container ul{
  list-style: none;
}


  
.container input {
  margin-left: 22%;
  margin-top: 12%;
}

.coin{
  height: 150px;
  width: 150px;
  position: relative;
  margin: 32px auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
